.how-does {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.div-how-does {
    background-image: linear-gradient(to bottom, #fee6b1, #fee8b7, #feeabd, #fdebc4, #fdedca);
    font-family: var(--source-sans-3);
    display: flex;
    flex-direction: column;
    gap: 4.438rem;
    padding: 5rem 13.75rem;
}

.div-how-does > h2 {
    font-size: 2.688rem;
    font-weight: bold;
    color: var(--color-themer-orange);
    text-align: center;
}

.div-how-does-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.div-how-does-list .list-item {
    width: 307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.563rem;
}

.div-how-does-list .list-item .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    text-align: center;
}

.div-how-does-list .list-item .body > h3 {
    font-size: 1.375rem;
    font-weight: bold;
    color: var(--color-themer-grey);
}

.div-how-does-list .list-item .body > p {
    font-size: 1.125rem;
    color: var(--color-input-grey);
}

@media screen and (max-width: 1600px) {
    .div-how-does {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media screen and (max-width: 1400px) {
    .div-how-does {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 800px) { 
    .div-how-does {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 410px) { 
    .div-how-does {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}