.list-flash-deal-card {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-left: 13.75rem;
    padding-right: 13.75rem;
}

@media screen and (max-width: 1600px) {
    .list-flash-deal-card {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media screen and (max-width: 1400px) {
    .list-flash-deal-card {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 800px) { 
    .list-flash-deal-card {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 410px) { 
    .list-flash-deal-card {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}