.flash-deals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #ffb800, #ffad00, #ffa100, #ff9600, #ff8a00);
}

.are-you {
    min-height: calc(100vh - 78px);
    padding-left: 13.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-grow: 1;
}

.are-you-titulos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.938rem;
}

.are-you-titulos > h1 {
    font-size: 5.5rem;
    font-weight: bold;
    color: var(--color-ligth);
    font-family: var(--source-sans-3);
}

.are-you-titulos > span {
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--color-text-grey);
    font-family: var(--source-sans-3);
}

.are-you-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-ligth);
    border-radius: 1rem;
    overflow: hidden;
}

.are-you-card .header {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.headerOption {
    padding: 0.625rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    font-family: var(--source-sans-3);
    font-size: 1.125rem;
    font-weight: bold;
}

.headerOption > img {
    width: 23px;
    height: 18px;
    object-fit: fill;
}

.headerOption.delivery {
    background: rgba(241, 114, 40, 0.20);
    color: var(--color-themer-orange);
}

.headerOption.pickup {
    color: var(--color-span-grey);
}

.are-you-card > hr {
    width: 100%;
    border: 1px solid #9e9e9e44;
}

.are-you-card .body {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.are-you-card .body > input {
    flex-grow: 1;
    height: 49px;
    padding: 0.438rem 2.75rem;
    font-size: 1.125rem;
    font-family: var(--source-sans-3);
    border: none;
    outline: none;
    color: var(--color-input-grey);
    background: url('../../assets/img/Icon-input-map.svg') no-repeat var(--color-input-white);
    background-position: calc(1rem) center;
    border-radius: 0.5rem;
}

.img-container {
    width: 40%;
    min-height: calc(100vh - 78px);
    padding-right: 13.75rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img-base {
    width: 497px;
    object-fit: fill;
}

@media screen and (max-width: 1600px) {
    .are-you {
        padding-left: 8rem;
    }

    .img-container { 
        padding-right: 8rem;
    }
}

@media screen and (max-width: 1400px) {
    .are-you {
        padding-left: 4rem;
    }

    .img-container { 
        padding-right: 4rem;
    }
}

@media screen and (max-width: 1350px) {
    .img-container { 
        display: none;
    }

    .are-you {
        width: 100%;
        align-items: center;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .are-you {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .are-you-titulos > h1 {
        font-size: 4.5rem;
    }

    .are-you-card {
       width: 100%;
    }

    .are-you-card .body {
        flex-direction: column;
        padding: 1.5rem;
    }

    .are-you-card .body > input {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .are-you-titulos > h1 {
        font-size: 4rem;
    }

    .headerOption {
        padding: 0.625rem 1rem; 
    }
}
